body {
    text-align: center;
    text-size-adjust: center;
    margin: 25px 25vw;
    justify-self: start;
}

h1{
    color: rgb(7, 107, 7);
    font-size: 80px;
    font-family: Arial, Helvetica, sans-serif;
    border: #333333 solid;
}
#cabeçalho{
    background-color: rgb(7, 107, 7);
    padding: 40px;
    margin: 10px 0vw;
    border: #333333 solid;
    align-items: left;
}

menu ul,
#cabeçalho ul,
header ul {
    display: flex;
    justify-content: center;
    gap: 20px;
    list-style: none;
    padding: 0;
    margin: 0;
}

h2{
    font-size: 40px;
}

h3{
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

h4{
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100px;
    color: rgb(248, 246, 246);
}

p{
    font-size: 20px;
    font-style: ormal;
}

table {
    font-family: Arial, Helvetica, sans-serif; /* Define a família da fonte */
    font-size: 20px;                           /* Tamanho do texto */
    color: #333333;                            /* Cor do texto */
}

td  {
    font-family: Arial, sans-serif;
    font-size: 20px;
}

ul {
    font-family: Arial, Helvetica, sans-serif; /* Define a fonte */
    font-size: 20px;                           /* Tamanho do texto */
    color: #333333;                            /* Cor do texto */
}

h3{
    font-size: 18;
}

h4{
    font-size: 16;
}

li {
    font-family: Arial, sans-serif;
    font-size: 20px;
    line-height: 1.6; /* Melhora o espaçamento entre linhas */
    margin-bottom: 8px; /* Espaço entre um tópico e outro */
}

